header {
    top: 0;
    left: 0;
    right: 0;
    position: absolute;
    z-index: 1;
    height: 80px;

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 120px;
    padding-right: 120px;

    img {
        height: 50px;
        cursor: pointer;
    }

    a {
        color: white;
        text-decoration: none;
        margin-left: 32px;
    
        &:hover {
            color: rgba(255, 255, 255, 0.8);
            font-weight: 500;
        }
    }
}

.darkLinks {
    a {
        color: black;

        &:hover{
            color: rgba(0,0,0,0.8);;
        }
    }
}


.headerDark {
    background-color: white;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2) ;
}